@media only screen and (max-width: 450px) { 
	.left{
        width:100%;
        min-width:375px;
        margin-top: 0px;
        margin-bottom: 0px;
        
	}
	.header{
        width:100%;
        max-width:375px;
        margin-top: 10px;
        margin-left: 0px;
		
    }
    .header .dropbtn {
        bottom: 10px;
        left: 300px;
      }
      .header .dropdown-content {
        top: -9px;
        left: 205px;
      }
	.mid{
        width:100%;
        height:auto;
        max-width:375px;
        margin-top: 10px;
        margin-left: 0px;
	
    }
    .Emid{
        width:100%;
        height:auto;
        max-width:375px;
        margin-top: 10px;
        margin-left: 0px;
	
    }
    .Pmid{
        width:100%;
        height:auto;
        max-width:375px;
        margin-top: 10px;
        margin-left: 0px;
	
    }
    .footer{
        width:100%;
        max-width:375px;
        margin-top: 10px;

	}
 }
