*{
    margin: 0;
    padding: 0; 
}
.Wrapper{
    margin: 0 auto;
    width: 100%;
    max-width:1000px;
    height: auto;
    background-color: #E4E4E4;
    overflow: hidden;
    
}
.left{
    width:100%;
    max-width: 290px;
    height: 797px;
    margin: 15px;
    margin-right:5px;
    margin-left:0;
    background-color: white;
    border: 1px solid #C20037;
    float: left;
    overflow: hidden;
}
.left .pic{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.left .pic img{
    width: 100%;
    height: 400px;
}
.left .pic h2{
    position: absolute;
    top:337px;
    left: 0px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    background-color: #C20037;
}
.left span{
    margin-left: 10px;
    margin-top: 5px;
    color: #C20037;
    font-size: 30px;
    float: left;
}
.left p{  
   font-size: 14px;
    margin-left: 15px;
    margin-top: 0px;
    color: #989898;

}
.left h5{
    margin-left: 15px;
    margin-top: 15px;
    color: #989898;
}
.left a{
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 13px;
    color: #C20037;
}
.left a:hover{
    text-decoration: none;
    color: #C20037;
}

.header{
    width: 100%;
    max-width: 655px;
    height: 100px;
    position: relative;
    margin-left: 5px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #C20037;
    float: left;


}
.header p{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 25px;
    color: #777777;
}
.header .dropbtn {
    background-color: #C20037;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 582px;
    padding:10px;
    font-size: 16px;
    border: none;
  }
  
.header .dropdown {
    position: relative;
    display: inline-block;
  }
  
.header .dropdown-content {
    display: none;
    position: absolute;
    top: -9px;
    left: 490px;
    background-color:black;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
.header .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.header .dropdown-content a:hover {
      background-color:#C20037;
      text-decoration: none;
      color: white;
    }
  
.header .dropdown:hover .dropdown-content {
      display: block;
    }
.mid{
    width: 100%;
    max-width: 655px;
    height: 687px;
    background-color: white;
    border: 1px solid #C20037;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    overflow: hidden;
}
.mid p{
    padding: 30px;
    color: #777777;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.mid h2{
    margin: 28px;
    color: #C20037;
    display: inline;
    border-bottom: 3px solid #C20037;
    font-family: 'Times New Roman', Times, serif;
}
.mid ul{
    font-size: 20px;
    padding-left: 80px;
    padding-top: 25px;
    
    font-family: 'Times New Roman', Times, serif;
}
.mid img{
    width: 40px;
    height: 40px;
    margin-left: 28px;
    margin-top: 25px;
}
.mid h4{
    margin-top: 30px;
    margin-left: 25px;
    color: red;
}
.Emid{
    width: 100%;
    max-width: 655px;
    height: 687px;
    background-color: white;
    border: 1px solid #C20037;
    float: left;
    margin-left: 5px;
    margin-top: 15px;
    overflow: hidden;
}
.Emid h3{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 0.5px solid #480F00;
    padding-top: 20px;
}
.Emid h6{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color:#C20037;
   
}
.Emid h5{
    margin-left: 20px;
    margin-right: 20px;
    color: #777777;
    border-bottom: 0.5px solid #480F00;
    padding-bottom: 20px;
}
.Emid p{
    color: red;
}
.Pmid{
    width: 100%;
    max-width: 655px;
    height: 687px;
    background-color: white;
    border: 1px solid #C20037;
    float: left;
    margin-left: 5px;
    margin-top: 15px;
    overflow: scroll;
}
.Pmid h3{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 0.5px solid #480F00;
    padding-top: 20px;
}
.Pmid h6{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color:#C20037;
   
}
.Pmid h5{
    margin-left: 20px;
    margin-right: 20px;
    color: #777777;
    border-bottom: 0.5px solid #480F00;
    padding-bottom: 20px;
}
.Pmid p{
    color: red;
}
.stab{
    margin: 0 auto;
    margin-top: 20px;
}
.stab td{
    font-size: 14px;
    padding: 6px;
    
}
.a{
    color:#777777 ;
}
.footer{
    width: 100%;
    max-width: 960px;
    height: 100px;
    background-color: #C20037;
    float: left;
}
.footer p{
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}